<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password | BitBot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link  rel="icon"  href="../static/favicon.ico"  type="image/x-icon">
    <link rel="stylesheet" href="../static/css/materialize.css" type="text/css">
    <link rel="stylesheet" href="../static/css/dashboard_css.css" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="../static/javascript/jquery.min.js"></script>
    <script src="../static/javascript/materialize.min.js"></script>
    <script src="../static/javascript/md5.js"></script>

    <script type="text/javascript">
        function validateResetForm() {
            var password1 = document.forms["reset_form"]["password"].value;
            var password2 = document.forms["reset_form"]["password1"].value;
            if (password1 === "" || password2 === "") {
                document.getElementById("mismatch").style.display = "none";
                document.getElementById("empty-reset").style.display = "inline-block";
                return false;
            }
            else if (password1.localeCompare(password2) !== 0){
                document.getElementById('empty-reset').style.display = "none";
                document.getElementById('mismatch').style.display = "inline-block";
                return false;
            }
            else {
                document.getElementById('empty-reset').style.display = "none";
                document.getElementById('mismatch').style.display = "none";
                document.forms['reset_form']['password'].value = MD5(password1);
                document.forms['reset_form']['password1'].value = MD5(password1);
                return true;
            }
        }
    </script>

</head>
<body class="blue-gradient">

    <div class="container">

      <div class="card login-card">
        <div class="card-content">

          <div class="logo-header">
		    <img class="logo-img" src="../static/images/Bits.jpg">
            <div class="horizontal-line"></div>
            <a class="bit">BitBot<a class="small">by YARD</a></a>
          </div>

        </div>

        <div class="card-tabs">
          <ul class="tabs tabs-fixed-width">
            <li class="tab"><a class="active" href="#reset">Reset Password</a></li>
          </ul>
        </div>

        <div class="card-content grey lighten-4">

            <div class="container" id="reset">
                <form action="{{ url_for('reset_password') }}" method="post" id="reset_form" onsubmit="return validateResetForm()">

                    <input type="hidden" name="username" value="{{ username }}">

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password1" type="password" name="password1" autofocus>
                            <label for="password1">New Password</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password2" type="password" name="password">
                            <label for="password2">Confirm Password</label>
                        </div>
                    </div>

                    <div class="row">
                        <p id="empty-reset" class="alert red-text">Please Enter both the password.</p>
                        <p id="mismatch" class="alert red-text">Both Password must be same.</p>
                        <input type="submit" onsubmit="return validateLoginForm()" class="waves-effect waves-light btn right">
                    </div>
                </form>
            </div>
        </div>
      </div>

      <div class="footer-copyright">
        <div class="container center-align grey-text text-lighten-2">
            <br />
            © 2018 YARD | Build 2018.2.10
        </div>
      </div>

    </div>

</body>
</html>